@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: auto;
    width: 100%;
    line-height: 2;
    font-family: "Open Sans", sans-serif;
    background: #654ea3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;

}

header {
    font-family: 'Caveat', cursive;
    height: 100px;
    width: 100%;
    border-bottom: 4px solid black;

    position: sticky;
    top: 0;
    z-index: 1;

    background: #654ea3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
    font-size: xx-large;

}
h1{
    font-size: xxx-large;
    font-weight: bolder;
    font-family: 'Caveat', cursive;
}

.home{
    font-size: 350%;

}
a{
    text-decoration: none;
    color: black;
padding-left: 20px;
}
main {
    font-family: "Open Sans", sans-serif;
    margin: auto;
    width: 90%;

}

img {
    margin: auto;
    width: 75%;
    padding: 25px;
    border-radius: 50%;
}

.albumInfo {
    margin: auto;

}

.albums {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.album {
    width: 30%;
    border: solid 2px black;
    margin: 20px;
    padding: 10px;
    box-shadow: 5px 5px 8px black, 10px 10px 8px #6b55a5, 15px 15px 8px black;


    text-align: center;
}

h4 {
    text-transform: uppercase;
    font-weight: bolder;
}

.image {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 8s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*form css*/
form {
    position: relative;
    background: #ffffff;
    width: 35%;
    margin: 50px auto 50px;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

input {
    font-family: "Open Sans", sans-serif;
    outline: 0;
    background: #d4d1dc;
    width: 100%;
    border: 0;
    margin: 5px 0 10px;
    padding: 10px;
    /*box-sizing: border-box;*/
    font-size: 14px;

}

.button input {
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    border: 0;
    padding: 10px;
    color:#ffffff;
    font-size: 14px;
    cursor: pointer;
    background: black;

}

form label{
    padding: 10px;

}

.button input:hover{
    background-color:#6b55a5;
    font-weight:bolder;
}
