<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <title>Home Page</title>

</head>
<body>
<header>
    <div class="header">
        <nav>
            <a href="/addAlbumForm">Add Album</a>
            <a href="/allAlbums">All Albums</a>
        </nav>
    </div>
</header>

<main>
    <h1 class="home"> >> Home Page <<</h1>
    <img src="https://studio.code.org/assets/dance_sharing_drawing-358d76a341cb58ac3ecaefe3082f3c54e3055e42acef936bbca255ea1eccdf75.png">
</main>
<footer>


</footer>
</body>
</html>