<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <title>Show Album</title>
</head>
<body>
<header>
    <div class="header">
        <h1 th:text="'>>'+ ${album.getTitle()}+' &#9835;' "></h1>
        <nav>
            <a href="/addAlbumForm">Add Album</a>
            <span> | </span>
            <a href="/allAlbums">All Albums</a>
            <span> | </span>
            <a href="/addSongForm">Add Song</a>
            <span> | </span>
            <a href="/allSongs">All Songs</a>
        </nav>
    </div>
</header>

<main>
    <section class="albums">
        <div class="album">
            <img class="image" th:alt="${album.getTitle()}" th:src="${album.getImageUrl()}">
            <div class="albumInfo">
                <p th:text="'Artist: ' + ${album.getArtist()} "></p>
                <p th:text="'Number of Songs: ' + ${album.getSongCount()}"></p>
                <p th:text="'Album Length: ' + ${album.getLength()}"></p>
            </div>
        </div>
    </section>
    <section class="songs">
        <div th:each="song: ${albumSongs}" class="song">
            <div>
                <h4 th:text="'Song Title: ' + ${song.getSongTitle()}"></h4>
                <p th:text="'Song Length: ' + ${song.getSongLength()}"></p>
                <p th:text="'Track Number: ' + ${song.getTrackNumber()}"></p>
            </div>
        </div>
    </section>
</main>

<footer>

</footer>
</body>
</html>